.table {
    border-spacing: 0;
    margin: 1rem;
    background-color: rgba(15, 142, 228, 0.8);
}

.table__row:nth-child(even) {
    background-color: #9bc1ec;
}

.table__header {
    text-align: left;
}

.table__cell {
    padding: 8px;
    text-align: left;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.button{
    margin-top: 4px;
}

#map{
    height: 40vh;
    width: 60vw;
    margin: auto;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
