.table {
    border-spacing: 0;
    margin: 1rem;
    background-color: darkseagreen;
}

.table__row:nth-child(even) {
    background-color: #cbdfb6;
}

.table__header {
    text-align: left;
}

.table__cell {
    padding: 8px;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
