{% extends "base.html" %}

{% block content %}
    
    <div id="map"></div>
    <div class="container">
        <i id="data_description"></i>
        <h1> {{ county }}, {{ state }} Data </h1>
        <table class="table">
            <tr class="table__header">
                {% for header in headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <a href="/"> <button>Back to Home</button></a>
        <a href="{{ url_for('select_county', state=state) }}"> <button>Back to {{ state }}</button></a>
        <button onclick="resetMapView()">Reset To {{ county }} View</button>

    </div>

    <!-- stores geojson data for map into js variables. these are used in countypage_map.js -->
    <script type="text/javascript">
        // convert to javascript json object from html/jinja variable
        var statesData = JSON.parse('{{ statesJson|tojson }}');
        var countiesData = JSON.parse('{{ countiesJson|tojson }}');
        var state_name = "{{ state }}";
        var state_abbrev = "{{ state_abbrev }}";
        var selected_county_fips = "{{ selected_county_fips }}";
    </script>

     <!-- main map code -->
    <script type="text/javascript" src="/static/maps/countypage_map.js"></script>
{% endblock %}