{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1> COVID-19 Dashboard </h1>
        <form action="#" method="post"> 
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }} <br><br>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <input type="text" name="state" placeholder="Select State" list="states" autocomplete="off" required  />
            <input type="submit" value="Search"/>
        </form>
        
        <!-- list for search bar to suggest/autofill -->
        <datalist id="states">
            {% for state in states %}
                <option value="{{state}}"> {{state}} </option>
            {% endfor %}
        </datalist>
    </div>
{% endblock %}