{% extends "base.html" %}


{% block content %}
    <div id="map"></div>
    <div class="container">
        <h1> COVID-19 Dashboard </h1>
        <form action="#" method="post"> 
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }} <br><br>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <input type="text" name="state" placeholder="Select State" list="states" autocomplete="off" required  />
            <input type="submit" value="Search"/>
        </form>
        
        <!-- list for search bar to suggest/autofill -->
        <datalist id="states">
            {% for state in states %}
                {% if state != "MP" %}
                    <option value="{{state}}"> {{state}} </option>
                {% endif %}
            {% endfor %}
        </datalist>

        </div>
            <button onclick="resetMapView()" id="resetViewButton">Reset To US View</button>
        </div>
    </div>
    
    <!-- stores geojson data for map into js variables. these are used in our_map.js -->
    <script type="text/javascript">
        // convert to javascript json object from html/jinja variable
        var statesData = JSON.parse('{{ statesJson|tojson }}');
        var countiesData = JSON.parse('{{ countiesJson|tojson }}');
    </script>

    <!-- main map code -->
    <script type="text/javascript" src="/static/maps/homepage_map.js"></script>



{% endblock %}