{% extends "base.html" %}

{% block content %}
    <div id="map"> 
        </div class="map_buttons">
            <button onclick="resetMapView()">Reset To {{ state }} View</button>
        </div>
    </div>
    <div class="container">
        <h1> {{ state }} COVID-19 Dashboard </h1>
        <form action="#" method="post"> 
            {% with messages = get_flashed_messages() %}           
                {% if messages %}
                    {% for message in messages %}
                        {{ message }} <br><br>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <input type="text" name="county" placeholder="Select County" list="counties" autocomplete="off" required  />
            <input type="submit" value="Search"/>
        </form>
        
        <!-- list for search bar to suggest/autofill -->
        <datalist id="counties">
            {% for county in counties %}
                <option value="{{county}}"> {{county}} </option>
            {% endfor %}
        </datalist>
        <br>
        <a href="/"> <button>Back to Home</button></a>
        
    </div>

    <!-- stores geojson data for map into js variables. these are used in statepage_map.js -->
    <script type="text/javascript">
        // convert to javascript json object from html/jinja variable
        var statesData = JSON.parse('{{ statesJson|tojson }}');
        var countiesData = JSON.parse('{{ countiesJson|tojson }}');
        var state_name = "{{ state }}";
        var state_abbrev = "{{ state_abbrev }}";
    </script>

     <!-- main map code -->
    <script type="text/javascript" src="/static/maps/statepage_map.js"></script>
{% endblock %}